*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Poppins", sans-serif;
  --transition: .2s all ease-in-out;
  --c-primary: #00ADB5;
  --c-white: #fff;
  --c-body: #222831;
}

body {
  font-family: var(--ff);
  background: var(--c-body);
  color: var(--c-white);
  position: relative;
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-white);
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  width: 100%;
  margin-inline: auto;
}

section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 576px) {
  section {
    padding-bottom: 55px;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 10px 32px;
  transition: var(--transition);
}
.btn_primary {
  background: var(--c-primary);
}
.btn_primary:hover {
  background: #d48902;
}

.title {
  margin-top: 90px;
  font-size: 44px;
  color: var(--c-white);
  font-weight: 700;
  margin-bottom: 17px;
}
@media (max-width: 576px) {
  .title {
    font-size: 32px;
    margin-top: 50px;
  }
}
.title span {
  color: var(--c-primary);
}

.desc {
  color: var(--c-body);
  font-size: 16px;
  line-height: 160%;
  max-width: 460px;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .desc {
    font-size: 14px;
  }
}

.none {
  display: none !important;
}

.bg-line {
  position: absolute;
  display: block;
  width: 1;
  height: 100%;
  background: red;
  top: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.header {
  position: relative;
}
.header__line {
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(238, 238, 238, 0.1);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0px;
}
.header__backdrop {
  display: none;
}
@media (max-width: 992px) {
  .header__backdrop {
    transform: translateX(120%);
    display: block;
    transition: var(--transition);
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}
.header__logo {
  color: var(--c-white);
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: inline-flex;
}
.header__logo span {
  color: var(--c-primary);
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__ul {
    position: fixed;
    width: 70%;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--c-primary);
    align-items: center;
    justify-content: center;
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-white);
}
.header .ul__link {
  color: var(--c-white);
  font-size: 18px;
  font-weight: 400;
  transition: var(--transition);
}
.header .ul__link.is-active, .header .ul__link:hover {
  color: var(--c-primary);
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 3;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.welcome__line {
  width: 1px;
  height: 1024px;
  display: block;
  position: absolute;
  background: rgba(238, 238, 238, 0.1);
  top: -50%;
  left: 53.3%;
  z-index: -1;
}
.welcome__container {
  display: flex;
  justify-content: space-between;
  padding: 178px 0 41px 84px;
}
.welcome__info {
  position: relative;
}
.welcome__info-arrow {
  position: absolute;
  left: -100px;
  top: 15%;
}
.welcome__info-title {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  padding-bottom: 48px;
  margin-top: 40px;
  max-width: 624px;
}
.welcome__info-title span {
  color: var(--c-primary);
}
.welcome__btn-hire {
  border-radius: 24px;
  background: var(--c-primary);
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-right: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.welcome__btn-CV {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(57, 62, 70, 0.75);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.works {
  padding: 268px 0;
  background-image: url(./../img/works-bg.png);
}
.works__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
}
.works__title span {
  color: var(--c-primary);
}
.works__card {
  display: flex;
  gap: 48px;
}

.tab-controls {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}
.tab-controls__btn {
  padding: 10px 32px;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(57, 62, 70, 0.5);
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.tab-controls__btn--active {
  background: var(--c-primary);
}

.card {
  display: flex;
  align-items: center;
  max-width: 368px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(57, 62, 70, 0.5);
  padding: 61px 51px;
}
.about {
  position: relative;
  padding: 230px 0 215px;
}
.about__container {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.about__info-title {
  margin-top: 28px;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
}
.about__info-title span {
  color: var(--c-primary);
}
.about__info-text {
  color: var(--c-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  transition: var(--transition);
  max-width: 389px;
}
.about__info-text a {
  font-weight: 700;
}
.about__line {
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: rgba(238, 238, 238, 0.1);
  top: 0;
  left: 35.45%;
  z-index: -1;
}
.project {
  padding: 258px 0;
}
.project__container {
  display: flex;
  justify-content: space-between;
}
.project__img img {
  margin-left: 221px;
}
.project__img-title {
  margin-top: 28px;
  font-size: 64px;
  font-weight: 700;
  line-height: 79px;
  max-width: 510px;
}
.project__img-title span {
  color: var(--c-primary);
}
.project__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--c-primary);
  color: white;
}
.project__name-title {
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}
.project__email-title {
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}
.project__title {
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}
.project__textarea {
  max-width: 600px;
  width: 100%;
  max-height: 280px;
  height: 100%;
  border-radius: 16px;
  padding: 16px 0 16px 24px;
  border: none;
  background: rgba(57, 62, 70, 0.5);
  margin-bottom: 24px;
}

.form__container {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}
.form__container input {
  border-radius: 16px;
  padding: 16px 0 16px 24px;
  border: none;
  background: rgba(57, 62, 70, 0.5);
}

.footer {
  padding: 112px 48px;
}
.footer__router {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
}
.footer__router a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 38px;
}
.footer__links a {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #393E46;
}
.footer__links img {
  transform: translate(50%, 50%);
}
.footer__privacy {
  display: flex;
  justify-content: end;
  margin-top: 92px;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */