.about {
    position: relative;
    padding: 230px 0 215px;

    &__container {
        display: flex;
        justify-content: space-between;

        gap: 65px;

    }

    &__info {

    }

    &__info-title {
        margin-top: 28px;
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;

        span {
            color: var(--c-primary);
        }
    }

    &__info-text {
        color: var(--c-white);
		font-size: 18px;
		font-weight: 400;
        line-height: 30px;
		transition: var(--transition);

        max-width: 389px;

        a{
            font-weight: 700;
        }
    }

    &__line{
        position: absolute;
        display: block;
        height: 100%;
        width: 1px;
        background: rgba(238, 238, 238, 0.1);

        // top: 53.8%;

        top: 0;

        left: 35.45%;

        z-index: -1;
    }

    &__img {
    }
}
.container {
}
